In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Census

In [3]:
Table.read_table("https://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/totals/nst-est2015-popchg2010_2015.csv").show(5)

In [4]:
data_url = "https://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/totals/nst-est2015-popchg2010_2015.csv"
census = Table.read_table(data_url)

In [5]:
census.show(5)
census.num_columns, census.num_rows

(43, 57)

## Exploring the Table
If we look at [this documentation](https://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/totals/nst-est2015-popchg2010-2015.pdf), we can see a description of the table

In [7]:
census.select(0)

SUMLEV
10
20
20
20
20
40
40
40
40
40
... (47 rows omitted)

In [ ]:
# Lets explore a few of the columns

In [12]:
 # "REGION"
# Categorical or Numerical?
census.select("REGION")

REGION
0
1
2
3
4
3
4
4
3
4
... (47 rows omitted)

In [14]:
 # DIVISION
    # Categorical or Numerical?
census.select("DIVISION")

DIVISION
0
0
0
0
0
6
9
8
7
9
... (47 rows omitted)

In [ ]:
 # STATE
    # Categorical or Numerical?

In [ ]:
 # NAME
    # Categorical or Numerical?

## Selecting a few columns of interest

In [16]:
partial_census = census.select("NAME", "STATE", "REGION", "POPESTIMATE2013", "POPESTIMATE2014" )
partial_census.show(10)

In [20]:
# Relabel columns
partial_census_relabeled = partial_census.relabeled(
    "POPESTIMATE2013", "pop2013").relabeled("POPESTIMATE2014", "pop2014")

# Column Arithmetic

In [30]:
pop2013 = partial_census_relabeled.column("pop2013")
pop2014 = partial_census_relabeled.column("pop2014")
change = pop2014 - pop2013
change

array([2480006,  151928,  196281, 1307592,  824205,   15878,    -396,
         97984,    8878,  378163,   84456,   -2406,   10615,   10296,
        311102,  105570,   11492,   22021,   -7391,   27362,   17257,
          7877,   14117,   21499,    1478,   39306,   46314,   15800,
         36584,    2467,   20119,    8850,   13680,   47915,    5336,
         31460,   -1323,   57826,   94955,   16414,   24766,   26205,
         43172,   10231,    2051,   60662,    8034,   51649,  478404,
         40813,    -362,   60223,   89885,   -4234,   15779,    1173,
        -58191])

## Make new table with change

In [51]:
partial_census_change = partial_census_relabeled.with_columns(
    "change", change
)
# Hint, use with_columns
partial_census_change

NAME             | STATE | REGION | pop2013   | pop2014   | change
United States    | 0     | 0      | 316427395 | 318907401 | 2480006
Northeast Region | 0     | 1      | 56019353  | 56171281  | 151928
Midwest Region   | 0     | 2      | 67565788  | 67762069  | 196281
South Region     | 0     | 3      | 118487418 | 119795010 | 1307592
West Region      | 0     | 4      | 74354836  | 75179041  | 824205
Alabama          | 1     | 3      | 4830533   | 4846411   | 15878
Alaska           | 2     | 4      | 737442    | 737046    | -396
Arizona          | 4     | 4      | 6630799   | 6728783   | 97984
Arkansas         | 5     | 3      | 2957957   | 2966835   | 8878
California       | 6     | 4      | 38414128  | 38792291  | 378163
... (47 rows omitted)

### Reformatter

In [52]:
## Reformat these changes
# NumberFormatter, PercentFormatter
# set_format
tmp = partial_census_change.set_format("change", NumberFormatter)
tmp = tmp.set_format("pop2013", NumberFormatter)
partial_census_change_clean = tmp.set_format("pop2014", NumberFormatter)
partial_census_change_clean

NAME             | STATE | REGION | pop2013     | pop2014     | change
United States    | 0     | 0      | 316,427,395 | 318,907,401 | 2,480,006
Northeast Region | 0     | 1      | 56,019,353  | 56,171,281  | 151,928
Midwest Region   | 0     | 2      | 67,565,788  | 67,762,069  | 196,281
South Region     | 0     | 3      | 118,487,418 | 119,795,010 | 1,307,592
West Region      | 0     | 4      | 74,354,836  | 75,179,041  | 824,205
Alabama          | 1     | 3      | 4,830,533   | 4,846,411   | 15,878
Alaska           | 2     | 4      | 737,442     | 737,046     | -396
Arizona          | 4     | 4      | 6,630,799   | 6,728,783   | 97,984
Arkansas         | 5     | 3      | 2,957,957   | 2,966,835   | 8,878
California       | 6     | 4      | 38,414,128  | 38,792,291  | 378,163
... (47 rows omitted)

### Interpretting these changes

**Are these changes meaningful?**

2480006

In [59]:
 # Convert changes to percentages
    # a = 5
    # b = 10
    # change = second - first
    # change/initial 
#partial_census_change_clean 
a = 5
b= 10
(b - a) / a * 100

first_row = partial_census_change_clean.row(0)
(first_row.change) / first_row.pop2013

0.007837519883510719

In [62]:
percent_change = partial_census_change_clean.column("change") / partial_census_change_clean.column("pop2013")

In [67]:
tbl_with_percent_change = partial_census_change_clean.with_column(
    "percent_change", percent_change * 100
)
tbl_with_percent_change.set_format("percent_change", PercentFormatter)

NAME             | STATE | REGION | pop2013     | pop2014     | change    | percent_change
United States    | 0     | 0      | 316,427,395 | 318,907,401 | 2,480,006 | 78.38%
Northeast Region | 0     | 1      | 56,019,353  | 56,171,281  | 151,928   | 27.12%
Midwest Region   | 0     | 2      | 67,565,788  | 67,762,069  | 196,281   | 29.05%
South Region     | 0     | 3      | 118,487,418 | 119,795,010 | 1,307,592 | 110.36%
West Region      | 0     | 4      | 74,354,836  | 75,179,041  | 824,205   | 110.85%
Alabama          | 1     | 3      | 4,830,533   | 4,846,411   | 15,878    | 32.87%
Alaska           | 2     | 4      | 737,442     | 737,046     | -396      | -5.37%
Arizona          | 4     | 4      | 6,630,799   | 6,728,783   | 97,984    | 147.77%
Arkansas         | 5     | 3      | 2,957,957   | 2,966,835   | 8,878     | 30.01%
California       | 6     | 4      | 38,414,128  | 38,792,291  | 378,163   | 98.44%
... (47 rows omitted)

In [ ]:
# Let's look at larger ranges in time, we might see more changes then

# Analyzing the results/table

In [82]:
# find the regiion with the largest total change
tbl_with_percent_change.where("REGION", "3").sort("percent_change", descending=True)

NAME                 | STATE | REGION | pop2013     | pop2014     | change    | percent_change
Texas                | 48    | 3      | 26,500,674  | 26,979,078  | 478,404   | 180.53%
Florida              | 12    | 3      | 19,594,467  | 19,905,569  | 311,102   | 158.77%
District of Columbia | 11    | 3      | 649,540     | 659,836     | 10,296    | 158.51%
South Carolina       | 45    | 3      | 4,768,498   | 4,829,160   | 60,662    | 127.21%
Delaware             | 10    | 3      | 925,353     | 935,968     | 10,615    | 114.71%
South Region         | 0     | 3      | 118,487,418 | 119,795,010 | 1,307,592 | 110.36%
Georgia              | 13    | 3      | 9,991,562   | 10,097,132  | 105,570   | 105.66%
North Carolina       | 37    | 3      | 9,845,432   | 9,940,387   | 94,955    | 96.45%
Tennessee            | 47    | 3      | 6,496,130   | 6,547,779   | 51,649    | 79.51%
Virginia             | 51    | 3      | 8,267,875   | 8,328,098   | 60,223    | 72.84%
... (8 rows omitted)

In [ ]:
# find the regiion with the largest percentage change

In [ ]:
# add anual growth based on total growth

In [1]:
# Initialize Otter
import otter
grader = otter.Notebook()

In [2]:
grader.export("Lecture_4.ipynb")

FileNotFoundError: [Errno 2] No such file or directory: 'lec04.ipynb'