In [ ]:
import numpy as np
from datascience import *

# Pivot

In [ ]:
sky = Table.read_table('skyscrapers_v2.csv')
sky = (sky.with_column('age', 2020 - sky.column('completed'))
          .drop('completed'))
sky.drop('height', 'age').where('city', are.not_equal_to('New York City')).where('city', are.not_equal_to('Las Vegas')).show(10)

In [ ]:
sky.pivot('material', 'city')

What happens if you run `group()` with these two columns?

*Remember when grouping on multiple columns, we need to pass in a list of column names*

In [ ]:
sky.group(['material', 'city'])

### Let's find the average height of towers in each city by each material

`tbl.pivot(col1, col2, values, collect)`

In [ ]:
sky.pivot(...)

### Let's find the max height of towers in each city by each material

# Join

In [ ]:
billionaires = Table.read_table('billionaires.csv')
billionaires.show(10)

countries = Table.read_table('countries.csv')
countries.show(10)

### What can we join these two tables on?
In other words, which columns will have similar values?

##### How many billionaries are in a specific industry and Continent?

##### What is the average net worth of the billionaries in each specific industry and Continent?

##### What is the range of net worths of the billionaries in each specific industry and Continent?

In [ ]:
def range(x):
    return ...

# Comparison

In [ ]:
x = 2
y = 3
x, y

In [ ]:
x > 1

In [ ]:
x > y

In [ ]:
y >= 3

In [ ]:
x == y

In [ ]:
x != 2

In [ ]:
2 < x < 5

In [ ]:
-1 * x < -1 * y

### Comparing strings

What do we think `"dog" > "cat"` will return?

In [ ]:
"dog" > "cat"

Why is this the case?

What about strings that start the same?

In [ ]:
"dogma" > "dog"

### Comparisions to arrays

In [ ]:
range_between_one_twenty = np.arange(1, 20)
range_between_one_twenty

In [ ]:
range_between_one_twenty > 5

back to slides

### Combining comparisons

In [ ]:
x, y

In [ ]:
x > 2 or y > 2

In [ ]:
x > 2 and y > 2

In [ ]:
not (x > 2 or y > 2)

back to slides
### Aggregating Comparisons

In [ ]:
range_between_one_twenty

Lets find the number of values that are even

In [ ]:
# Lets first make a function that tells us if a number is even
def is_even(x):
    return

Let's test if this function works:

Now let's apply this function to our array (either make a new table and use `apply` or pass it to our function)

Now how many of these numbers are even?

back to slides

# Control Statements

In [ ]:
def sign(x):
    '''
    Returns "positive", "negative", "zero" depending on the value of x
    Adam: only use if's
    '''
    return_string = ""
    ...
    return return_string

In [ ]:
sign(10), sign(-10), sign(0)

### `if`, `elif`, and `else`

In [ ]:
def sign(x):
    '''
    Returns "positive", "negative", "zero" depending on the value of x
    '''

### `abs()`
Now try implementing the `abs()` function

In [ ]:
help(abs)

In [ ]:
def abs(x):
    ...

# Random Selection

In [ ]:
groups = make_array('treatment', 'control')
groups

Let's randomly assign 1 individual to each group

Let's randomly assign 5 individuals to each group

Let's repeat this

Do we see any differences?

So now let's store the outcome

back to slides
# `np.append()`
Manually grow an empty array to [0,...,8] one element at a time

back to slides
# `For` Statements

In [ ]:
for i in np.arange(4):
    print('iteration', i)

Use a for loop to grow the array `t`