In [1]:
# Run this cell by hitting CTRL + ENTER
from IPython.display import YouTubeVideo
from datascience import *

# Module 1.4: Arrays and Columns

In this notebook, you'll learn how to use arrays to store multiple values that can be manipulated together. You'll also learn how to work with the values of columns as arrays.

This notebook includes 2 videos with a total runtime of 11:17.

- [Arrays](#section1) *1 video, total runtime 3:21*
- [Columns](#section2) *1 video, total runtime 7:56*
- [Check for Understanding](#section3)


Textbook Readings:
- [Chapter 5: Sequences](https://www.inferentialthinking.com/chapters/05/Sequences.html)

<a id='section1'></a>
## 1. Arrays

In this video, you'll learn about how to create arrays and use arrays in calculations.

In [ ]:
YouTubeVideo("q6cQBGP9wsQ")

For the following exercises, consider the following information about the three species of elephants.
- The average weight of an African bush elephant is 12,000 pounds
- The average weight of an Asian elephant is 8,800 pounds
- The average weight of an African forest elephant is 6,000 pounds

Assign `weight_lbs` to an array containing the average weight of each species of elephant in pounds.

In [ ]:
weight_lbs = ...

<details>
    <summary>Solution</summary>
    weight_lbs = make_array(12000, 8800, 6000)
</details>

Using `weight_lbs`, assign `weight_kgs` to an array containing the average weight of each species of elephant in kilograms. There are approximately 2.205 pounds in one kilogram.

In [ ]:
weight_kgs = ...

<details>
    <summary>Solution</summary>
    weight_kgs = weight_lbs / 2.205
</details>

<a id='section2'></a>
## 2. Columns

In this video, you'll learn about how to extract columns of a table into an array. You'll also learn how to complete calculations involving columns and how to add new columns to tables.

In [ ]:
YouTubeVideo("n8R4pZQDl_8")

Run the cell below to load SAT data from 2014.

In [2]:
sat2014 = Table.read_table('https://www.inferentialthinking.com/data/sat2014.csv')
sat2014

State        | Participation Rate | Critical Reading | Math | Writing | Combined
North Dakota | 2.3                | 612              | 620  | 584     | 1816
Illinois     | 4.6                | 599              | 616  | 587     | 1802
Iowa         | 3.1                | 605              | 611  | 578     | 1794
South Dakota | 2.9                | 604              | 609  | 579     | 1792
Minnesota    | 5.9                | 598              | 610  | 578     | 1786
Michigan     | 3.8                | 593              | 610  | 581     | 1784
Wisconsin    | 3.9                | 596              | 608  | 578     | 1782
Missouri     | 4.2                | 595              | 597  | 579     | 1771
Wyoming      | 3.3                | 590              | 599  | 573     | 1762
Kansas       | 5.3                | 591              | 596  | 566     | 1753
... (41 rows omitted)

Set `combined_scores` to an array of all combined SAT scores from the table `sat2014`

In [ ]:
combined_scores = ...
combined_scores

<details>
    <summary>Solution</summary>
    combined_scores = sat2014.column("Combined")
</details>

Set `states_writing_sorted` to an array of states, ordered by their writing scores from largest to smallest.

In [ ]:
states_writing_sorted = ...
states_writing_sorted

<details>
    <summary>Solution</summary>
    states_writing_sorted = sat2014.sort("Writing", descending = True).column("State")
</details>

Add a column `math:writing ratio` to the table `sat2014` that contains the ratio of math scores to writing scores for each state.

In [ ]:
...

<details>
    <summary>Solution</summary>
    sat2014.with_column("math:writing ratio", sat2014.column("Math")/sat2014.column("Writing"))
</details>

<a id='section3'></a>
## 3. Check for Understanding

Please answer the following questions in this [Google Form](https://forms.gle/aEStJc5E9HwY2fNm6) by ***Add date***

**A. Consider the following table `vending_machine`**

| Item  | Price |
|-------|-------|
| Chips | 1.50  |
| Candy | 1.25  |
| Water | 1     |

**Will this line of code run without error?**

``
vending_machine.with_column("Sugar Content", make_array(5, 18, 0, 4))
``


**B. Which of the options is the output of the following line of code?**

``
make_array(2, 4, 5) + make_array(24, 1, 6) * 2
``

1. 84
2. 73
3. array([50, 6, 17])
4. array([52, 10, 22])